// color-header
$header-blue:#00AEFF;
$logo-dark: #36C3FF;
$menu-cyan:  #009BDD;


// color-main
$aside-red:#ff5607;
$aside-item:#E84900;
$img-gold: #FFBD00;
$head-grey:#9d9d9d;
$item-grey:#CECECE;

// color-footer
$footer-green:#00d169;
$footer-content-green:#02b15a;
$footer-item-green:#038042;